body, html {
  margin: 5px;
  background-color: white;
  text-align: -webkit-center;
}

@font-face {
  font-family: "myBold";
  src: url(SF-Pro-Display-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "myNormal";
  src: url(SF-Pro-Display-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "mySemiBold";
  src: url(SF-Pro-Display-Semibold.ttf) format("truetype");
}

p.bigFont {
  font-family: "myBold", Verdana, Tahoma;
  font-size: -webkit-xxx-large;
  margin-bottom: 30px;
  text-align: -webkit-left;
}

* {
  font-family: "myNormal", Verdana, Tahoma;
  font-size: medium;
  margin: 0px;
  text-align: -webkit-left;
}

p.semiBigFont {
  font-family: "mySemiBold", Verdana, Tahoma;
  font-size: xx-large;
  margin: 0px;
  text-align: -webkit-left;
  float: left;
}

.container {
  padding: 15px;
  border-radius: 20px;
  background-image: linear-gradient(#c7c7cc, #aeaeb2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  margin-bottom: 20px;
  max-width: 500px;
}

#expand-container {
  overflow: hidden;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: -webkit-left;
}

td {
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: -webkit-left;
}

#expand-contract-mon {
  margin-top: -200%;
  transition: all 0.5s;
}

#expand-contract-mon.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
}

#expand-contract-tue {
  margin-top: -200%;
  transition: all 0.5s;
}

#expand-contract-tue.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
}

#expand-contract-wed {
  margin-top: -200%;
  transition: all 0.5s;
}

#expand-contract-wed.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
}

#expand-contract-thu {
  margin-top: -200%;
  transition: all 0.5s;
}

#expand-contract-thu.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
}

#expand-contract-fri {
  margin-top: -200%;
  transition: all 0.5s;
}

#expand-contract-fri.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
}

#expand-contract-sat {
  margin-top: -200%;
  transition: all 0.5s;
}

#expand-contract-sat.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
}

#expand-contract-sun {
  margin-top: -200%;
  transition: all 0.5s;
}

#expand-contract-sun.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  width: -webkit-fill-available;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.btnAdd {
  visibility: hidden;
  opacity: 0;
  float: right;
  width: 32px;
  height: 32px;
  background: url(add-icon.png) no-repeat;
  background-size: 50px;
  background-position: center;
  border: none;
  background-color: white;
  border-radius: 50px;
}

.btnEdit {
  visibility: hidden;
  opacity: 0;
  float: right;
  width: 32px;
  height: 32px;
  background: url(edit-icon.png) no-repeat;
  background-size: 17px;
  background-position: center;
  border: none;
  background-color: white;
  border-radius: 50px;
}

.btnSetLight {
  padding-top: 60px;
  width: 35px;
  height: 35px;
  float: right;
  background: url(SetLight.png) no-repeat;
  background-size: 35px;
  background-position: center;
  border: none;
  border-radius: 50px;

  position: absolute;
  right: 12px;
}

.btnSetDark {
  padding-top: 60px;
  width: 35px;
  height: 35px;
  float: right;
  background: url(SetDark.png) no-repeat;
  background-size: 35px;
  background-position: center;
  border: none;
  border-radius: 50px;

  position: absolute;
  right: 12px;
}

.btnDownload {
  width: 32px;
  height: 32px;
  background: url(download-icon.png) no-repeat;
  background-size: 30px;
  margin-left: 4px;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  margin-right: -32px;
}

.btnDel {
  border: none;
  margin-top: 3px;
  float: left;
  background: url(delete-icon.png) 50% 0% / 22px no-repeat;
  background-origin: content-box;
  border-bottom-style: outset;
  border-color: transparent;
  height: 30px;
  width: 18%;
  background-position-y: bottom;
}

.hiddenFileInput > input{
  height: 100%;
  width: 100;
  opacity: 0;
  cursor: pointer;
}

.hiddenFileInput{
  position: absolute;
  width: 32px;
  height: 32px;
  background: url(upload-icon.png) no-repeat;
  background-size: 30px;
  border: none;
  background-color: transparent;
  border-radius: 50px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

/* Styles for the popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1;
}

.popup-content {
  background-color: white;
  width: 300px;
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min-content;
  border-radius: 15px;
  z-index: 2;
}

.close {
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background: url(close-icon.png) no-repeat;
  background-size: 15px;
  background-position-x: center;
  right: 10px;
  top: 20px;
}

.close:hover {
  color: #f00;
}

.popupBtn {
  margin-top: 5px;
  background-color: #0a6ee4;
  border: none;
  border-radius: 6px;
  width: -webkit-fill-available;
  height: 30px;
  text-align: -webkit-center;
  color: white;
}

.popupBtnDel {
  float: left;
  margin-top: 5px;
  background-color: #0a6ee4;
  border: none;
  border-radius: 6px;
  height: 30px;
  width: 75%;
  color: white;
  margin-right: 8px;
  text-align: -webkit-center;
}

/*   Autocomplete */

.autocomplete {
  position: relative;
  display: inline-block;
}

#suggestionList {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
}

#suggestionList li {
  padding: 5px;
  cursor: pointer;
}

#suggestionList li:hover {
  background-color: #f1f1f1;
}

body.disable-scroll {
  overflow: hidden;
}
