body, html {
    margin: 5px;
    background-color: white;
}

@font-face {
    font-family: "myBold";
    src: url(SF-Pro-Display-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "myNormal";
    src: url(SF-Pro-Display-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "mySemiBold";
    src: url(SF-Pro-Display-Semibold.ttf) format("truetype");
}

p.bigFont { 
    font-family: "myBold", Verdana, Tahoma;
    font-size: -webkit-xxx-large;
    margin-bottom: 30px;
}

* {
    font-family: "myNormal", Verdana, Tahoma;
    font-size: large;
    margin: 0px;
}

p.semiBigFont {
    font-family: "mySemiBold", Verdana, Tahoma;
    font-size: xx-large;
    margin: 0px;
}


#container {
    padding: 15px;
    border-radius: 20px;
    background-image: linear-gradient(#95ffc5, #58ffff);
    margin-bottom: 20px;
    max-width: 500px;
 }
 
#expand-container {
   overflow: hidden;
 }

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: -webkit-left;
  }

td {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: -webkit-left;
  }

#expand-contract-mon {
    margin-top: -200%;
    transition: all 0.5s;
  }
  
#expand-contract-mon.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
  }

#expand-contract-tue {
    margin-top: -200%;
    transition: all 0.5s;
  }
  
#expand-contract-tue.expanded {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: -webkit-center;
  }

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    width: -webkit-fill-available;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}